{
    "env": {
        "node": true,
        "browser": true,
        "amd": true,
        "mocha": true,
        "jquery": true
    },
    "globals": {
        "Mobify": true,
        "Zepto": true,
        "Adaptive": true
    },
    "rules": {
        "eqeqeq": true,
        "guard-for-in": true,
        "no-extend-native": true,
        "wrap-iife": true,
        "no-use-before-define": true,
        "new-cap": true,
        "no-array-constructor": true,
        "no-new-object": true,
        "no-caller": true,
        "no-empty": true,
        "no-with": true,
        "no-mixed-spaces-and-tabs": true,
        "no-multi-str": true,
        "camelcase": true,
        "no-trailing-spaces": true,
        "space-after-keywords": true,
        "space-infix-ops": true,
        "no-unused-vars": true,
        "no-undef": true,
        "eol-last": true,
        "strict": false,
        "quotes": "single",
        "no-extra-parens": true,
        "no-extra-semi": true,
        "no-inner-declarations": true,
        "max-depth": 5,
        "max-params": 10,
        "max-statements": 25,
        "max-len": 1000,
        "complexity": false,
        "semi": true,
        "no-unused-expressions": false,
        "func-style": [2, "declaration"]
    }
}