{
    "env": {
        "node": true,
        "browser": true,
        "amd": true,
        "mocha": true,
        "jquery": true
    },
    "globals": {
        "Mobify": true,
        "Zepto": true,
        "Adaptive": true
    },
    "rules": {
        "eqeqeq": 2,
        "guard-for-in": 2,
        "no-extend-native": 2,
        "wrap-iife": 2,
        "no-use-before-define": 2,
        "new-cap": 2,
        "no-array-constructor": 2,
        "no-new-object": 2,
        "no-caller": 2,
        "no-empty": 2,
        "no-with": 2,
        "no-mixed-spaces-and-tabs": 2,
        "no-multi-str": 2,
        "camelcase": 1,
        "no-trailing-spaces": 2,
        "space-after-keywords": 2,
        "space-infix-ops": 2,
        "no-unused-vars": 2,
        "no-undef": 2,
        "eol-last": 1,
        "strict": false,
        "quotes": "single",
        "no-extra-parens": 2,
        "no-extra-semi": 2,
        "no-inner-declarations": 2,
        "max-depth": [2, "5"],
        "max-params": [2, "10"],
        "max-statements": [2, "25"],
        "max-len": [2, "1000"],
        "complexity": false,
        "semi": 2,
        "no-unused-expressions": 2,
        "func-style": [2, "declaration"]
    }
}